body {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
.heading h1{
    background-color: steelblue;
    display: inline-block;
}
  .heading {
    text-align: center;
    padding: 2opx;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: steelblue;
}
.course{
    text-align: center;
}
.tab1{
    margin: 100px auto;
    display:inline-flex ;
    
}
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}
#dataTable{
    margin:100px 10px;
    display: inline-flexbox;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid;
}
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}
h2{
    margin: 70px 10px 10px;
}
#dataTable{
    margin:0 10px;
    display: inline-flexbox;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
    /* border: 1px solid; */
}
.editbutton{
    font-family: sans-serif;
    border-style: solid;
    border-width: 1px;
    background-color: steelblue;
    border-color: skyblue;
    color: white;
    display: inline-block;
    height: auto;
    width: 100px;
    border-radius: 5px;
    padding: 7px;
    margin: 20px;
    text-decoration: none;
    font-size: large;
}
.editbutton:hover{
    background-color: darkblue;
    color: cornsilk;
    cursor: pointer;
}
.btn{
    border-style: solid;
    border-width: 1px;
    background-color: #004D74;
    border-color: skyblue;
    color: white;
    display: inline-block;
    height: auto;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    margin: 20px;
    text-decoration: none;
    font-size: large;
}
.btn:hover{
    background-color: steelblue;
    color: cornsilk;
    cursor: pointer;
}
.btnadd{
    text-align: center;
}
.inputbut{
    display: inline-flex;
    height: 30px;
    width: 70px;
}